<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="/style.css" type="text/css" />
		<title>News Headlines!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div class="jumbotron">
  <h1 class="display-4">Hacker News Scraper!</h1>
  {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">SCRAPE</a> --}}
  <h1><button id = "scrp">SCRAPE</button>
  <button id = "artcl">SAVE ARTICLES</button></h1>
</div>
		{{{ body }}}
	</body>
</html>