

        {{!-- <div class ="col-md-1"></div> --}}
        
        <div class="container">
             {{#each articles}}  
    <div class= "row">       
               <div class="col-md-9">  
<h3> Title: {{title}} </h3>
<button><a href="{{link}}" target="_blank"><em>Read More</em></a></button>
<button  data-id='{{_id}}' class ="noty"><em>comment</em></button>
{{!-- <a> Link: {{link}} </a> --}}
</div>  
<div id="notes" class="col-md-3" ></div>    
</div>
  {{/each}} 
  <hr>
</div>